<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona logowania</title>
    <link th:replace="layout :: head">
    <link rel="stylesheet" href="css/style-login-page.css" type="text/css" media="all"/>
</head>
<body>
<div class="container">
    <h1>Obsługa Biblioteki</h1>
    <hr>
    <form th:action="@{/login}" method="post">
        <label for="username">Email</label>
        <input type="text" name="username" id="username"/>
        <label for="password">Hasło</label>
        <input type="password" name="password" id="password"/>
        <button type="submit" name="login"><b>Zaloguj się</b></button>
    </form>
</div>
<script th:replace="layout :: body"></script>
</body>
</html>