<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <link th:replace="layout :: head">
    <link rel="stylesheet" href="my-css/styles-menu-page.css" type="text/css">
    <link rel="stylesheet" href="css/fontello.css" type="text/css">
</head>
<body>
<div class="background-overlay">
    <div class="container">
        <div class="row">
            <div class="col-2 offset-10">
                <a class="logout btn" th:href="@{/logout}">
                    Wyloguj się
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <h1>Wybierz Moduł</h1>
            </div>
            <hr>
        </div>
        <nav>
            <div class="container book-background">
                <div class="row">
                    <div class="col-4 offset-1 outer">
                        <a th:href="@{/books}">
                            <div class="menu-element tile1">
                                <i class="icon-book"></i>
                                <h2>Książki</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-4 offset-2 outer">
                        <div class="menu-element tile2">
                            <i class="icon-users"></i>
                            <h2>Czytelnicy</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-1 outer">
                        <div class="menu-element tile3">
                            <i class="icon-bookmark"></i>
                            <h2>Wypożyczenia</h2>
                        </div>
                    </div>
                    <div class="col-4 offset-2 outer">
                        <div class="menu-element tile4">
                            <i class="icon-wrench"></i>
                            <h2>Pomoc</h2>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>


<!-- bootstrap script !-->
<div th:replace="layout :: body"></div>
</body>
</html>